@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.gifts-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    width: 14.75rem;
    /* 236px */
    height: 3.5rem;
    /* 56px */
    background: #181C29;
    border: 1px solid black;
    color: #FFFFFF;
    border-radius: 1.25rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    /* 12px */
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    letter-spacing: 0.04em;
}

/* HERO START */
.hero,
.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90rem;
    /* 1440px */
    width: 100%;
    margin: 0 auto;
}

.hero {
    height: 32.75rem;
    /* 524px */
    background: url('./assets/img/bg-snow.png'), url('./assets/img/bg-ball.png'), var(--Primary, rgba(255, 70, 70, 1));
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    padding: 60px 8px;
    border-radius: 20px 20px 0 0;
    max-width: 90rem;
    /* 1440px */
    width: 100%;
}

@media (min-width: 381px) and (max-width: 768px) {
    .hero {
        max-width: 48rem;
        /* 768px */
        width: 100%;
        height: 32.75rem;
        /* 524px */
    }
}

@media (max-width: 380px) {
    .hero {
        max-width: 23.75rem;
        /* 380px */
        width: 100%;
        height: 35.75rem;
        /* 572px */
    }
}

.hero__container {
    justify-content: center;
    gap: 15px;
    margin-top: 3.75rem;
    /* 60px */
}

.hero__caption,
.hero__title {
    text-align: center;
    color: #FFFFFF;
}

.hero__caption {
    max-width: 26.625rem;
    /* 426px */
    height: 1.5rem;
    /* 24px */
    font-family: 'Allura', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
}

.hero__caption--bottom {
    margin-top: -5px;
}

.hero__title {
    max-width: 26.875rem;
    /* 430px */
    height: 9rem;
    /* 144px */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    /* 32px */
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin-top: -3px;
}


@media (min-width: 381px) and (max-width: 767px) {
    .hero__title {
        max-width: 22.75rem;
        /* 364px / 16px = 22.75rem */
        height: 12rem;
        /* 192px / 16px = 12rem */
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.18em;
    }
}

@media (max-width: 380px) {
    .hero__title {
        max-width: 22.75rem;
        /* 364px / 16px = 22.75rem */
        height: 12rem;
        /* 192px / 16px = 12rem */
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.18em;
    }

    .hero__caption {
        max-width: 22.75rem;
    }
}

.hero__btn {
    margin-top: -3px;
}

/* HERO END */

/* ABOUT START */
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 8px;
    height: 40.5rem;
    /* 648px */
    max-width: 90rem;
    /* 1440px */
    width: 100%;
    margin: 0 auto;
    background: url('./assets/img/bg-snow.png'), var(--Primary, rgba(255, 70, 70, 1));
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    border-radius: 0;
    align-items: center;
}

.about__container {
    height: 33rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 79.75rem;
    max-width: 79.75rem;
    /* height: 528px; */
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    /* gap: 10px; */
}

.about__info {
    width: 26.625rem;
    max-width: 26.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3.75rem 0;
    /* 60px = 3.75rem */
    gap: 1.25rem;
    /* 20px = 1.25rem */
    height: 20.5rem;
    /* 328px = 20.5rem */
    margin-left: 3.75rem;
    /* 60px = 3.75rem */
}

.about__santa {
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.about__caption,
.about__title,
.about__descr {
    max-width: 26.625rem;
}

.about__caption {
    height: 24px;
    font-family: 'Allura', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FF4646;
}

.about__title {
    height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin-bottom: 38px;
}

.about__descr {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: #181C29;
}


@media (min-width: 990px) and (max-width: 1200px) {
    .about__santa {
        width: 50%;
        height: 100%;
        /* 376px = 23.5rem */
        /* height: 33rem; */
        /* 528px = 33rem */
        object-fit: cover;
        border-radius: 1.25rem;
        /* 20px = 1.25rem */
    }
}

@media (min-width: 769px) and (max-width: 989px) {
    .about__santa {
        width: 48%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.25rem;
    }

    .about__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        /* 0px = 0rem */
        gap: 1.25rem;
        /* 20px = 1.25rem */
        width: 16rem;
        /* 256px = 16rem */
        max-width: 26.625rem;
        /* 426px = 26.625rem */
        max-height: 27.25rem;
        /* 436px = 27.25rem */
    }

    .about__title {
        width: 16rem;
        /* 256px = 16rem */
        height: 6.75rem;
        /* 108px = 6.75rem */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        /* 24px = 1.5rem */
        line-height: 152%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        color: #181C29;
        margin-bottom: 0;
        /* 0px = 0rem */
    }


}

@media (min-width: 742px) and (max-width: 768px) {
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 3.75rem 0.5rem;
        /* 60px = 3.75rem, 8px = 0.5rem */
        max-width: 48rem;
        /* 768px = 48rem */
        width: 100%;
        height: 40.5rem;
        /* 648px = 40.5rem */
        border-radius: 0;
        margin: 0 auto;
    }

    .about__container {
        max-width: 48rem;
        /* 768px = 48rem */
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .about__santa {
        width: 23.5rem;
        /* 376px = 23.5rem */
        height: 33rem;
        /* 528px = 33rem */
        object-fit: cover;
        border-radius: 1.25rem;
        /* 20px = 1.25rem */
    }

    .about__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        /* 0px = 0rem */
        gap: 1.25rem;
        /* 20px = 1.25rem */
        width: 16rem;
        /* 256px = 16rem */
        max-width: 26.625rem;
        /* 426px = 26.625rem */
        max-height: 27.25rem;
        /* 436px = 27.25rem */
    }

    .about__title {
        width: 16rem;
        /* 256px = 16rem */
        height: 6.75rem;
        /* 108px = 6.75rem */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        /* 24px = 1.5rem */
        line-height: 152%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        color: #181C29;
        margin-bottom: 0;
        /* 0px = 0rem */
    }

    .about__descr {
        width: 16rem;
        /* 256px = 16rem */
        height: 9rem;
        /* 144px = 9rem */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        /* 16px = 1rem */
        line-height: 148%;
        color: #181C29;
    }

}

@media (min-width: 381px) and (max-width: 741px) {
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 3.75rem 0.5rem;
        /* 60px = 3.75rem, 8px = 0.5rem */
        width: 741px;
        max-width: 100%;
        height: 62.5rem;
        /* 1000px = 62.5rem */
        border-radius: 0;
    }

    .about__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        /* 0px = 0rem */
        width: 22.75rem;
        /* 364px = 22.75rem */
        max-width: 22.75rem;
        height: 55rem;
        /* 880px = 55rem */
        background: #FFFFFF;
        border-radius: 1.25rem;
        /* 20px = 1.25rem */
        max-width: 35rem;
        width: 35rem;
    }

    .about__santa {
        width: 22.75rem;
        /* 364px = 22.75rem */
        height: 33rem;
        /* 528px = 33rem */
        object-fit: cover;
        border-radius: 1.25rem;
        /* 20px = 1.25rem */
        top: 22rem;
        /* 352px = 22rem */
        right: 0;
        left: 0;

        max-width: 100%;
        width: 35rem;
    }

    .about__info {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;
        padding: 0 1.25rem;
        /* 20px = 1.25rem */
        align-self: flex-start;
        width: 22.75rem;
        /* 364px = 22.75rem */
        height: 22rem;
        /* 352px = 22rem */
        margin-left: 0;
        margin-bottom: 33rem;
        /* 528px = 33rem */
    }

}

@media (max-width: 380px) {
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 3.75rem 0.5rem;
        /* 60px = 3.75rem, 8px = 0.5rem */
        width: 23.75rem;
        /* 380px = 23.75rem */
        max-width: 100%;
        height: 62.5rem;
        /* 1000px = 62.5rem */
        border-radius: 0;
    }

    .about__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        /* 0px = 0rem */
        width: 22.75rem;
        /* 364px = 22.75rem */
        max-width: 22.75rem;
        height: 55rem;
        /* 880px = 55rem */
        background: #FFFFFF;
        border-radius: 1.25rem;
        /* 20px = 1.25rem */
    }



    .about__santa {
        width: 22.75rem;
        /* 364px = 22.75rem */
        height: 33rem;
        /* 528px = 33rem */
        object-fit: cover;
        border-radius: 1.25rem;
        /* 20px = 1.25rem */
        top: 22rem;
        /* 352px = 22rem */
        right: 0;
        left: 0;
    }

    .about__info {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;
        padding: 0 1.25rem;
        /* 20px = 1.25rem */
        align-self: flex-start;
        width: 22.75rem;
        /* 364px = 22.75rem */
        height: 22rem;
        /* 352px = 22rem */
        margin-left: 0;
        margin-bottom: 33rem;
        /* 528px = 33rem */
    }

    /* .about__title {} */


    /* .about__descr {} */

}


/* ABOUT END */

/* SLIDER START */

.slider {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    width: 100%;
    height: 30.5rem;
    margin: 0 auto;
    background: url('./assets/img/bg-snow.png'), var(--Primary, rgba(255, 70, 70, 1));
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    align-items: center;
    /* position: relative; */
    /* overflow: hidden; */
    padding: 0;
    /* height: auto; */
    /* padding-left: 20px; */
}

@media (min-width: 381px) and (max-width: 768px) {
    .slider {
        display: flex;
        flex-direction: column;
        max-width: 48rem;
        width: 100%;
        height: 30.5rem;
        margin: 0 auto;
        align-items: center;
        padding: 0;
        /* height: auto; */
    }

}

@media (max-width: 380px) {
    .slider {
        display: flex;
        flex-direction: column;
        max-width: 23.75rem;
        width: 100%;
        height: 30.5rem;
        margin: 0 auto;
        align-items: center;
        padding: 0;
        /* height: auto; */
    }
}

.slider__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding-top: 3.75rem;
    max-width: 90rem;
    width: 100%;
    /* overflow: hidden; */
}


.slider__caption {
    max-width: 26.625rem;
    /* 426px */
    height: 1.5rem;
    /* 24px */
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: center;
}

.slider__title {
    max-width: 26.625rem;
    /* 426px */
    height: 2.25rem;
    /* 36px */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    /* 24px */
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.slider__wraper  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 15px; */
    width: 100%;
    margin-top: 3px;
    overflow: hidden;
    padding-left: 80px;
}


@media (min-width: 381px) and (max-width: 768px) {
.slider__wraper  {
    padding-left: 5px;
    padding-right: 5px;

  }
}

@media (max-width: 380px) {
    .slider__wraper  {
        padding-left: 5px;
        padding-right: 5px;
      }
}

.slider__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    width: 1993px;
    height: 200px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}


.slider__item {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 20px;
}

.slider__background {
    width: 12.5rem;
    /* 200px */
    height: 12.5rem;
    /* 200px */
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.slider__background--live {
    background-image: url('./assets/img/snowman.png');
}

.slider__background--create {
    background-image: url('./assets/img/christmas-trees.png');
}

.slider__background--love {
    background-image: url('./assets/img/christmas-tree-ball.png');
}

.slider__background--dream {
    background-image: url('./assets/img/fairytale-house.png');
}

.slider__text {
    font-size: 4em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding-left: 5px;
}

.slider__btns {
    display: flex;
    justify-content: flex-end;
    gap: 17px;
    margin-left: auto;
    padding: 8px 83px 0;
}

.slider__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    /* 56px */
    height: 3.5rem;
    /* 56px */
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider__btn img {
    width: 1.5rem;
    height: 1.5rem;

}

.slider__btn:active {
    background-color: #888;
}

/* .slider__btn:active svg {
    stroke-opacity: 1;
} */

/* .slider__btn .icon .arrow {
    transition: stroke 0.3s ease;
} */


.slider__btn--left:disabled svg,
.slider__btn--right:disabled svg
{
    stroke-opacity: 0.4;
    background-color: transparent;
    cursor: default;
}

@media (min-width: 381px) and (max-width: 768px) {

    .slider__btns {
        justify-content: flex-end;
        margin-right: -74px;
    }
}


 @media (max-width: 380px) {
    .slider__btns {
        justify-content: flex-end;
        margin-right: -74px;
    }
}

.slider__btn:disabled {
    background-color: transparent;
    cursor: default;
}

.slider__btn:disabled svg {
    stroke-opacity: 0.4;
}


.slider__btn:disabled:hover {
    cursor: default;
    background-color: transparent;
}

.slider__btn:disabled:hover svg {
    stroke-opacity: 0.4;
}















/* stroke-opacity="0.4" */

/* SLIDER END */


/* BEST GIFTS START */
.best-gifts {
    max-width: 90rem;
    /* 1440px */
    margin: 0 auto;
    /* height: 554px; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 10px;
    background: url(./assets/img/bg-snow.png), #FF4646;
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

@media (min-width: 381px) and (max-width: 768px) {
    .best-gifts {
        height: auto;
        max-width: 48rem;
        /* 768px */
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 380px) {
    .best-gifts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 8px;
        max-width: 23.75rem;
        /* 380px */
        width: 100%;
        /* height: 1416px; */
        margin: 0 auto;
        height: auto;
    }
}

.best-gifts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 16.5px;
}

@media (min-width: 381px) and (max-width: 768px) {
    .best-gifts__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 48rem;
        /* 768px */
        width: 100%;
        margin: 0 auto;
        /* height: 1616px; */
    }
}

@media (max-width: 380px) {
    .best-gifts__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 23.75rem;
        /* 380px */
        width: 100%;
        margin: 0 auto;
        /* height: 1616px; */
    }
}


.best-gifts__caption,
.best-gifts__title {
    max-width: 26.625rem;
    /* 426px */
    text-align: center;
    color: #FFFFFF;
}

.best-gifts__caption {
    height: 24px;
    font-family: 'Allura', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
}

.best-gifts__title {
    height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin-top: -3px;
}

.best-gifts__categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 2px;
    justify-content: center;
}

@media (min-width: 769px) and (max-width: 1300px) {

    .best-gifts__categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 4 колонки одинаковой ширины */
        grid-template-rows: repeat(2, 1fr);
        gap: 12px;
        margin-top: 2px;
    }
}

@media (min-width: 650px) and (max-width: 768px) {
    .best-gifts__categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 12px;
        margin-top: 2px;
    }
}

@media (min-width: 381px) and (max-width: 649px) {
    .best-gifts__categories {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 380px) {
    .best-gifts__categories {
        grid-template-columns: 1fr;
    }
}

.best-gifts__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19.375rem;
    /* 310px */
    height: 21.375rem;
    /* 342px */
    background: #ECF3F8;
    border-radius: 20px;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
}

/* .best-gifts__card:hover .card__text {
    color: #FF4646;
    cursor: pointer;
} */

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    width: 19.375rem;
    /* 310px */
    height: 7rem;
    /* 112px */
    background: #FFFFFF;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card__title {
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.card__title--for-work {
    color: #4361FF;
}

.card__title--for-health {
    color: #06A44F;
}

.card__title--for-harmony {
    color: #FF43F7;
}

.card__text {
    width: 16.875rem;
    /* 270px */
    height: 1.5rem;
    /* 24px */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    transition: color 0.5s;
}

.card__image {
    width: 310px;
    height: 230px;
}

/* BEST GIFTS END */

/* CTA START */
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90rem;
    /* 1440px */
    width: 100%;
    margin: 0 auto;
    background: url('./assets/img/bg-snow.png'), url('./assets/img/bg-forest.png'), var(--Primary, rgba(255, 70, 70, 1));
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    padding: 61px 8px;
    height: 41.75rem;
    /* 668px */
    border-radius: 0 0 20px 20px;
}

@media (min-width: 381px) and (max-width: 768px) {
    .cta {
        flex-direction: column;
        align-items: center;
        max-width: 48rem;
        /* 768px */
        width: 100%;
        height: 41.75rem;
        /* 668px */
        margin: 0 auto;
        padding: 60px 8px;
        border-radius: 0px 0px 20px 20px;
        /* height: auto; */
    }
}


@media (max-width: 380px) {
    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 23.75rem;
        /* 380px */
        width: 100%;
        /* padding-top: 32px; */
        background: url('./assets/img/bg-snow.png'), url('./assets/img/bg-forest.png'), var(--Primary, rgba(255, 70, 70, 1));
        background-size: cover, cover;
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        /* height: 668px; */
        border-radius: 0 0 20px 20px;
        height: 44rem;
        /* 704px */
    }
}

.cta__container {
    max-width: 90rem;
    /* 1440px */
    width: 100%;
    margin: 0 auto;
}

.cta__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cta__content-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
    /* margin-top: 120px; */
    margin-top: 7.5rem;
    /* 120px */
}

@media (max-width: 380px) {


    .cta__content-heading {
        margin-top: 0px;
    }
}

.cta__title {
    max-width: 26.625rem;
    /* width: 26.625rem; */
    /* 426px */
    height: 6.75rem;
    /* 108px */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    /* font-size: 24px; */
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.5rem;
}


@media (min-width: 381px) and (max-width: 700px) {

    .cta__title {
        font-size: 1.4rem;
    }

}

@media (max-width: 380px) {
    .cta__title {
        max-width: 22.75rem;
        width: 22.75rem;
        /* 364px */
        height: 9rem;
        /* 144px */
    }
}

.cta__timer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    /* 10px */
}

.cta__caption {
    max-width: 26.625rem;
    /* 426px */
    height: 1.5rem;
    /* 24px */
    font-family: 'Allura', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    /* 24px */
    line-height: 1;
    /* 100% */
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.cta__timer {
    font-size: 1.5rem;
    /* 24px */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    /* 8px 12px */
    width: 21.5rem;
    /* 344px */
    height: 4.5rem;
    /* 72px */
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1.25rem;
    /* 20px */
    margin-top: -0.125rem;
    /* -2px */
    gap: 0.25rem;
    /* 4px */
}


.timer__unit-word,
.timer__unit-number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.timer__unit-word {
    letter-spacing: 0.20em;
    margin-top: -2px;
}

.timer__unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    /* 0px */
    width: 5rem;
    /* 80px */
    height: 3.25rem;
    /* 52px */
}

.vertical-line {
    width: 0.0625rem;
    /* 1px */
    height: 1.25rem;
    /* 20px */
    background-color: white;
    margin: 0 auto;
    margin-bottom: 0.1875rem;
    /* 3px */
}

.timer__unit-number {
    font-size: 1.5rem;
    /* 24px */
}

.timer__unit-word {
    font-size: 0.75rem;
    /* 12px */
    /* margin-top: -1.875rem; */
    /* -30px */
    letter-spacing: 0.08em;
    /* 8% */
}





/* HOVERS START */

@media (hover: hover) and (pointer: fine) {

    .best-gifts__card:hover .card__text {
        color: #FF4646;
        cursor: pointer;
        transition: color 0.3s;
    }


      .slider__btn:hover {
        background-color: #FFFFFF;
    }

    .slider__btn:hover .icon .arrow {
        stroke: #FF4646;
    }

    .gifts-btn:hover {
        cursor: pointer;
        background: white;
        border: 1px solid white;
        color: black;
    }
}

@media (hover: none) {

    .slider__btn,
    .best-gifts__card .card__text,
    .slider__btn--right .icon .arrow,
    .gifts-btn {
        -webkit-tap-highlight-color: transparent;
    }

    /* .slider__btn {
        pointer-events: none;
    } */
}


.popup__title--for-work {
    color: #4361FF;
}

.popup__title--for-health {
    color: #06A44F;
}

.popup__title--for-harmony {
    color: #FF43F7;
}